* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo"
}

::selection {
    background-color: var(--main-color);
    color: #fff
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

button,
input {
    border: 0;
    font-family: "Archivo"
}

button:focus,
input:focus {
    border: 0
}

body {
    font-family: "Archivo";
    background-color: var(--color-white);
    overflow-x: hidden
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: var(--bg-main)
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 8px
}

header {
    padding: 0px 50px;
    background: var(--bg-main);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid #101013;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and (max-width: 992px) {
    header {
        padding: 0px 24px
    }
}

header .grid-layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding: 0px 8px
}

header .grid-layout nav img {
    width: 150px
}

header .grid-layout nav .nav-list {
    list-style: none;
    display: flex
}

header .grid-layout nav .nav-list li {
    margin-left: 48px
}

@media screen and (max-width: 992px) {
    header .grid-layout nav .nav-list li {
        margin-left: 0px
    }
}

header .grid-layout nav .nav-list li a {
    color: var(--color-gray);
    position: relative;
    font-size: 1.8rem
}

header .grid-layout nav .nav-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, var(--main-color) 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

header .grid-layout nav .nav-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

header .grid-layout nav .nav-list li a:hover {
    color: var(--color-white)
}

.mobile-menu {
    display: none
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background-color: var(--color-white);
    margin: 8px;
    transition: .4s
}

.nav-list.active {
    visibility: initial;
    transition: 1s all ease
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px)
}

.mobile-menu.active .line2 {
    opacity: 0
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px)
}

@media screen and (max-width: 992px) {
    body {
        overflow-x: hidden
    }

    .nav-list {
        text-align: center;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: var(--bg-secondary);
        flex-direction: column;
        padding-top: 96px;
        visibility: hidden
    }

    header .grid-layout nav .nav-list li {
        opacity: 0;
        margin-bottom: 48px
    }

    header .grid-layout nav .nav-list li a {
        font-size: 2.4rem
    }

    .mobile-menu {
        display: block
    }
}

#s-hero {
    padding: 0px 50px;
    background-color: var(--bg-main);
    position: relative
}

@media screen and (max-width: 992px) {
    #s-hero {
        padding: 100px 20px 0px 20px
    }
}

#s-hero .grid-layout #hero {
    display: flex;
    align-items: center;
    min-height: 90vh;
    padding: 100px 0px;
    overflow: hidden;
    width: 100%
}

@media screen and (max-width: 992px) {
    #s-hero .grid-layout #hero {
        padding: 0px
    }
}

#s-hero .grid-layout #hero #hero-container-text {
    width: 100%;
    flex-direction: column
}

@media screen and (max-width: 992px) {
    #s-hero .grid-layout #hero #hero-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0px
    }
}

#s-hero .grid-layout #hero #hero-container-text h1 {
    color: var(--color-white);
    max-width: 650px;
    line-height: 140%;
    font-size: 4rem;
    font-weight: 500
}

@media screen and (max-width: 992px) {
    #s-hero .grid-layout #hero #hero-container-text h1 {
        font-size: 3.2rem
    }
}

#s-hero .grid-layout #hero #hero-container-text h1 span {
    color: var(--main-color)
}

#s-hero .grid-layout #hero #hero-container-text p {
    color: var(--color-gray);
    font-size: 2rem;
    max-width: 600px;
    margin: 40px 0px;
    font-weight: 300;
    line-height: 160%
}


#s-hero .grid-layout #hero #hero-container-text .button-primary {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--main-color), var(--secondary-color));
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#s-hero .grid-layout #hero #hero-container-text .button-primary:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

#s-hero .grid-layout #hero #hero-container-text .button-secondary {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 50px;
    background: linear-gradient(135deg, #121212, #333);
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#s-hero .grid-layout #hero #hero-container-text .button-secondary:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {
    #s-hero .grid-layout #hero #logo {
        display: none
    }
}


#s-about {
    padding: 72px 0px;
    background-color: #111
}

@media screen and (max-width: 1200px) {
    #s-about {
        padding: 72px 20px
    }
}

#s-about .grid-layout>div {
    background-color: #151515;
    border: 2px solid #1f1f1f;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout>div {
        flex-wrap: wrap;
        gap: 32px
    }
}

#s-about .grid-layout>div #creator-photo {
    width: 47%;
    background-image: url("https://user-images.githubusercontent.com/74038190/212750996-938b257b-266c-45a7-9af7-655341c0f58b.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 500px
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout>div #creator-photo {
        width: 100%;
        height: 400px
    }
}

@media screen and (max-width: 992px) {
    #s-about .grid-layout>div #creator-photo {
        height: 350px
    }
}

@media screen and (max-width: 768px) {
    #s-about .grid-layout>div #creator-photo {
        height: 300px
    }
}

#s-about .grid-layout>div #creator-photo h3 {
    color: #111;
    background-color: #fff;
    padding: 8px;
    border-radius: 16px;
    width: 180px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 16px
}

#s-about .grid-layout>div div:nth-child(2) {
    width: 49%
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout>div div:nth-child(2) {
        width: 100%
    }
}

#s-about .grid-layout>div div:nth-child(2) h2 {
    font-size: 4rem;
    font-weight: 500;
    margin: 16px 0px;
    color: #fff
}

@media screen and (max-width: 992px) {
    #s-about .grid-layout>div div:nth-child(2) h2 {
        font-size: 3.2rem
    }
}

#s-about .grid-layout>div div:nth-child(2) h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #fff
}

#s-about .grid-layout>div div:nth-child(2) h4 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-color)
}

#s-about .grid-layout>div div:nth-child(2) p {
    font-size: 1.8rem;
    color: #9ca3af;
    line-height: 160%;
    margin: 32px 0px 32px 0px
}

#s-about .grid-layout>div div:nth-child(2) nav ul {
    display: flex;
    align-items: center;
    gap: 16px
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout>div div:nth-child(2) nav ul {
        flex-wrap: wrap
    }
}

#s-about .grid-layout>div div:nth-child(2) nav ul a {
    background-color: #111;
    border: 2px solid #1f1f1f;
    border-radius: 6px;
    padding: 16px
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout>div div:nth-child(2) nav ul a img {
        width: 40px
    }
}

#s-about .grid-layout>div div:nth-child(2) nav ul a:hover {
    border-color: var(--main-color)
}

#s-about .grid-layout>div .tabs {
    margin: 32px 0px 32px 0px;
    gap: 0.5rem;
}

#s-about .grid-layout>div .tabs .tabs-nav {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
    gap: 16px;

}

#s-about .grid-layout>div .tabs .tabs-nav .tab-button {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--color-white);
    background: none;
    font-size: 1.8rem;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#s-about .grid-layout>div .tabs .tabs-nav .tab-button.active {
    border-bottom: 2px solid var(--main-color);
    font-weight: bold;
}

#s-about .grid-layout>div .tabs .tab-content {
    display: none;
    margin-top: 1rem;
    color: var(--color-gray);
    font-size: 1.5rem;
}

#s-about .grid-layout>div .tabs .tab-content ul {
    margin-top: 2rem;
    list-style-type: disc;
    padding-left: 1.5rem;
}

#s-about .grid-layout>div .tabs .tab-content ul li {
    margin-bottom: 0.8rem; 
}

#s-about .grid-layout>div .tabs .tab-content.active {
    display: block;
}

#s-projects {
    padding: 96px 48px;
    text-align: center;
    background-color: #111
}

@media screen and (max-width: 992px) {
    #s-projects {
        padding: 48px 24px
    }
}

#s-projects .grid-layout h2 {
    padding-bottom: 24px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500
}

#s-projects .grid-layout h2 span {
    color: var(--main-color)
}

#s-projects .grid-layout #projects {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left
}

#s-projects .grid-layout #projects .project-one {
    border: 1px solid #e51d37
}

#s-projects .grid-layout #projects .project-one:hover {
    border: 1px solid #e51d37
}

#s-projects .grid-layout #projects .project-two {
    border: 1px solid #00a3ff
}

#s-projects .grid-layout #projects .project-two:hover {
    border: 1px solid #00a3ff
}

#s-projects .grid-layout #projects .project-three {
    border: 1px solid #a6fb98
}

#s-projects .grid-layout #projects .project-three:hover {
    border: 1px solid #a6fb98
}

#s-projects .grid-layout #projects .project-four {
    border: 1px solid #536fed
}

#s-projects .grid-layout #projects .project-four:hover {
    border: 1px solid #536fed
}

#s-projects .grid-layout #projects .project-five {
    border: 1px solid #ff4400;
}

#s-projects .grid-layout #projects .project-five:hover {
    border: 1px solid #ff4400;
}

#s-projects .grid-layout #projects>article {
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #111;
    transition: 1s all ease;
    background-color: #151515;
    height: auto
}

#s-projects .grid-layout #projects>article:hover {
    border: 1px solid var(--main-color)
}

@media screen and (max-width: 1200px) {
    #s-projects .grid-layout #projects>article {
        flex-basis: calc(50% - 20px)
    }
}

@media screen and (max-width: 768px) {
    #s-projects .grid-layout #projects>article {
        flex-basis: calc(100% - 20px)
    }
}

#s-projects .grid-layout #projects>article h3 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500
}

#s-projects .grid-layout #projects>article p {
    line-height: 24px;
    margin: 24px 0px;
    color: #9ca3af;
    line-height: 3.2rem;
    font-size: 1.8rem
}

#s-projects .grid-layout #project-one {
    color: #e51d37
}

#s-projects .grid-layout #project-one::after {
    background: linear-gradient(270deg, #e51d37 0%, #17161d 100%)
}

#s-projects .grid-layout #project-two {
    color: #00a3ff
}

#s-projects .grid-layout #project-two::after {
    background: linear-gradient(270deg, #00a3ff 0%, #17161d 100%)
}

#s-projects .grid-layout #project-three {
    color: #a6fb98
}

#s-projects .grid-layout #project-three::after {
    background: linear-gradient(270deg, #a6fb98 0%, #17161d 100%)
}

#s-projects .grid-layout #project-four {
    color: #536fed
}

#s-projects .grid-layout #project-four::after {
    background: linear-gradient(270deg, #536fed 0%, #17161d 100%)
}

#s-projects .grid-layout #projects #project-five {
    color: #ff4400;
}

#s-projects .grid-layout #projects #project-five::after {
    background: linear-gradient(270deg, #ff4400 0%, #17161d 100%);
}

#s-projects .grid-layout a {
    color: var(--main-color);
    position: relative;
    font-size: 2rem;
    font-weight: 400
}

#s-projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, var(--main-color) 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

#s-projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--bg-secondary);
    color: #fff;
    padding: 24px 0px
}

footer .grid-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

footer p {
    font-size: 1.8rem
}

footer p a {
    font-weight: 500;
    color: var(--main-color)
}

footer img {
    width: 32px
}

footer div {
    display: flex;
    align-items: center;
    gap: 16px
}

@media screen and (max-width: 1200px) {
    footer .grid-layout {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px
    }

    footer .grid-layout div {
        display: none
    }
}

.typewriter:after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--main-color)
}

@keyframes blink {
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto
}